<div _ngcontent-ppx-c49="" class="container">
  <div _ngcontent-ppx-c49="" class="row">
    <div _ngcontent-ppx-c49="" class="col text-justify">
      <img _ngcontent-ppx-c49="" src="https://cdn.jsdelivr.net/gh/JaviFerri7/proyec3-javierferri-prog3@master/img-prac3/sign-in-espa%C3%B1ol2.jpg" class="col-md-auto rounded float-left" style="margin-top: 4rem;" height="300">
      <h2 _ngcontent-ppx-c49="" class="row" style="margin-top: 4rem;">Inicio de sesión</h2>
        <p _ngcontent-ppx-c49="" class="row">Una vez descargada la aplicacion en tu telefono celular, visualizaras esta pantalla cuando ejecutes la app, en la misma podras crear tu usario.</p>
    </div>
  </div>
</div>
<div>

<!-- <h1>PONER IMAGEN DATOS DE USUARIO PARA DENUNCIAR, MODIFICAR CODIGO CODEPEN</h1> -->
<div _ngcontent-ppx-c49="" class="container">
  <div _ngcontent-ppx-c49="" class="row">
    <div _ngcontent-ppx-c49="" class="col text-justify">
      <img _ngcontent-ppx-c49="" src="https://cdn.jsdelivr.net/gh/JaviFerri7/proyec3-javierferri-prog3@master/img-prac3/datos-usuarios.jpg" class="col-md-auto rounded float-left" style="margin-top: 4rem;" height="300">
      <h2 _ngcontent-ppx-c49="" class="row" style="margin-top: 4rem;">Carga de datos</h2>
        <p _ngcontent-ppx-c49="" class="row">Una vez creada la cuenta ingresada a la app, podra cargar los datos de la infraccion que se quiera denunciar.</p>
    </div>
  </div>
</div>
<div>


</div>
<div _ngcontent-ppx-c49="" class="container">
  <div _ngcontent-ppx-c49="" class="row">
    <div _ngcontent-ppx-c49="" class="col text-justify">
      <!-- <iframe scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=520&amp;height=400&amp;hl=en&amp;q=San%20Juan%20%20Villa%20Mar%C3%ADa+(Seleccionar%20ubicacion%20de%20inicio)&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" width="300" height="200" frameborder="0"></iframe> <a href="https://maps-website.com/es"></a> <script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=1099ad751df8818309ec6a2814b4bf363e76ef09'></script> -->
      <img _ngcontent-ppx-c49="" src="https://stackblitz.com/files/proyec3-javierferri-prog3/github/JaviFerri7/proyec3-javierferri-prog3/master/img-prac3/map.jpg" class="col-md-auto rounded float-left" style="margin-top: 4rem;" height="300">
      <h2 _ngcontent-ppx-c49="" class="row" style="margin-top: 4rem;">Mapa</h2>
        <p _ngcontent-ppx-c49="" class="row"> Se dispondra de un mapa para poder indicar el lugar donde se esta llevando a cabo la infraccion.</p>
    </div>
  </div>
</div>



