
<div _ngcontent-ppx-c49="" class="container">
  <div _ngcontent-ppx-c49="" class="row">
    <div _ngcontent-ppx-c49="" class="col text-justify">
      <img _ngcontent-ppx-c49="" src="https://cdn.jsdelivr.net/gh/JaviFerri7/proyec3-javierferri-prog3@master/img-prac3/sign-in-espa%C3%B1ol2.jpg" class="col-md-auto rounded float-left" style="margin-top: 4rem;" height="300">
      <h2 _ngcontent-ppx-c49="" class="row" style="margin-top: 4rem;">Inicio de sesión</h2>
        <p _ngcontent-ppx-c49="" class="row">Una vez descargada la aplicacion en tu telefono celular, visualizaras esta pantalla cuando ejecutes la app, en la misma podras crear tu usario.</p>
    </div>
  </div>
</div>