<!-- <div class="main-container">
            <div class="main wrapper clearfix">
                      <article>
                          <section>
                              <form class="formulario"  method="post" enctypy="text/plain">
                                  <ul>
                                      <li>
                                          <h2>Consultanos</h2>
                                      </li>
                                      <li>
                                          <label for="name" id="acomodar">Nombre:</label>
                                          <input type="text"/>
                                      </li>
                                      <li>
                                          <label for="name" id="acomodar">Apellido:</label>
                                          <input type="text"/>
                                      </li>
                                      <li>
                                          <label for="email" id="acomodar">Email:</label>
                                          <input type="email" name="email" required />
                                      </li>

                                      <li>
                                          <label for="tel">Telefono:</label>
                                          <input type="tel" name="telefono" required />
                                      </li>
                                      
                                      <li>
                                          <label for="Mensaje" id="acomodar">Mensaje:</label>
                                          <textarea name="Mensaje" cols="40" rows="6" required ></textarea>
                                      </li>
                                      
                                      <li>
                                          <button class="submit" type="submit">Enviar</button>
                                      </li>
                                  </ul>
                              </form>                   
                          </section>
                      </article>
            </div>
</div> -->

  <div _ngcontent-rnr-c52="" id="Contacto" class="Contacto">
    <h1 _ngcontent-rnr-c52="" class="title-contac">CONTACTO</h1>
      <div _ngcontent-rnr-c52="" class="row">
        <div _ngcontent-rnr-c52="" class="col">
          <form _ngcontent-rnr-c52="" novalidate="" class="ng-untouched ng-pristine ng-valid">
           <div _ngcontent-rnr-c52="" class="form-group row">
            <div _ngcontent-rnr-c52="" class="col-1 col-sm-2 col-lg-3"></div>
            <label _ngcontent-rnr-c52="" for="fname" class="col-3 col-sm-2 col-lg-1 col-form-label">Nombre:</label>
            <input _ngcontent-rnr-c52="" type="text" id="fname" name="fname" placeholder="Tu nombre.." class="form-control col-6"></div>
            <div _ngcontent-rnr-c52="" class="form-group row"><div _ngcontent-rnr-c52="" class="col-1 col-sm-2 col-lg-3"></div><label _ngcontent-rnr-c52="" for="lname" class="col-3 col-sm-2 col-lg-1 col-form-label">Apellido:</label><input _ngcontent-rnr-c52="" type="text" id="lname" name="lname" placeholder="Tu apellido.." class="form-control col-6"></div>
            <div _ngcontent-rnr-c52="" class="form-group row">
              <div _ngcontent-rnr-c52="" class="col-1 col-sm-2 col-lg-3"></div>
              <label _ngcontent-rnr-c52="" for="country" class="col-3 col-sm-2 col-lg-1 col-form-label">Pais:</label><select _ngcontent-rnr-c52="" id="country" name="country" class="form-control col-6"><option _ngcontent-rnr-c52="" value="argentina" ng-reflect-value="argentina">Argentina</option><option _ngcontent-rnr-c52="" value="usa" ng-reflect-value="usa">Estados Unidos</option><option _ngcontent-rnr-c52="" value="brasil" ng-reflect-value="brasil">Brasil</option></select></div>
              <div _ngcontent-rnr-c52="" class="form-group row"><div _ngcontent-rnr-c52="" class="col-1 col-sm-2 col-lg-3"></div>
              <label _ngcontent-rnr-c52="" for="subject" class="col-3 col-sm-2 col-lg-1 col-form-label">Mensaje:</label><textarea _ngcontent-rnr-c52="" id="subject" name="subject" placeholder="Escriba un comentario.." class="form-control col-6" style="height: 170px;"></textarea></div><button _ngcontent-rnr-c52="" type="submit" class="btn btn-primary">Enviar</button>
              </form>
        </div>
      </div>
  </div>