.main article {
    float: left;
    width: 100%;
}

/*--------------Estilos Formulario----------------------*/
/*-----Estilos para el H2------*/
.formulario h2 {
    background: none repeat scroll 0 0;
    border-radius: 5px;
    color: whitesmoke;
   /*display: block;*/
    padding: 2%;
    text-shadow: 1px 1px 1px #CCCCCC;
    width: 80%;
}
/*--- estilos para los ul y li del formulario ---*/
.formulario ul {
    width:90%;
    list-style-type:none;
    margin:0;
    padding:0;
}
.formulario li{
    padding:5%;
    border-bottom:1px solid #eee;
    /*position:relative;*/
} 
.formulario label {
    color: whitesmoke;
    display: inline-block;
    float: left;
    font-weight: bold;
    margin-top: auto;
    /*padding: 5%;*/
    width: 20%;
}
.formulario input {
    height:20px; 
    width: 70%; 
    padding:5px 8px; 
}
.formulario textarea {
    padding:4%; 
    width:80%;
}
.recuadro{
    padding: 2%;
    border-radius: 20px 20px 0 20px;
    box-shadow: 0 5px 10px #AAAAAA;
    margin-bottom: 2%;
    overflow: hidden;
}
/*----- estilos visuales de los elementos --------*/

.formulario input, .formulario textarea { 
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
    color: #888;
    padding-right:30px;
    -moz-transition: padding .25s; 
    -webkit-transition: padding .25s; 
    -o-transition: padding .25s;
    transition: padding .25s;
}
.formulario input:focus, .formulario textarea:focus {
    background: #fff; 
    border:1px solid #555; 
    box-shadow: 0 0 3px #aaa; 
    padding-right:80px;
}
 /*--- Estilos de Validacion --- */   

.formulario input:required:valid, .formulario textarea:required:valid {
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}
.formulario input:focus:invalid, .formulario textarea:focus:invalid {
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}
/* ---- Estilos del boton de Envio --- */
button.submit {
   padding: 9px 17px;
   font-weight: bold;
   line-height: 1;
   color:Black;
   border: none;
   text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#bbb));
   background-image: -moz-linear-gradient(0% 100% 90deg, #BBBBBB, #FFFFFF);
   background-color: #fff;
   border: 1px solid #f1f1f1;
   border-radius: 10px;
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
button.submit:hover {
    opacity:.55;
    cursor: pointer; 
    color: #fff;
}
button.submit:active {
    border: 1px solid #222;
    box-shadow: 0 0 10px 5px #444 inset; 
}
