<!-- <div _ngcontent-rnr-c52="" id="contact-muni" class="contact">
    <h1 _ngcontent-rnr-c52="" class="title-contac">Consultanos</h1>
      <div _ngcontent-rnr-c52="" class="row">
        <div _ngcontent-rnr-c52="" class="col">
          <form _ngcontent-rnr-c52="" novalidate="" class="ng-untouched ng-pristine ng-valid">
           <div _ngcontent-rnr-c52="" class="form-group row">
            <div _ngcontent-rnr-c52="" class="col-1 col-sm-2 col-lg-3"></div>
            <label _ngcontent-rnr-c52="" for="fname" class="col-3 col-sm-2 col-lg-1 col-form-label">Nombre:</label>
            <input _ngcontent-rnr-c52="" type="text" id="fname" name="fname" placeholder="Tu nombre.." class="form-control col-6"></div>
            <div _ngcontent-rnr-c52="" class="form-group row"><div _ngcontent-rnr-c52="" class="col-1 col-sm-2 col-lg-3"></div><label _ngcontent-rnr-c52="" for="lname" class="col-3 col-sm-2 col-lg-1 col-form-label">Apellido:</label><input _ngcontent-rnr-c52="" type="text" id="lname" name="lname" placeholder="Tu apellido.." class="form-control col-6"></div>
            <div _ngcontent-rnr-c52="" class="form-group row">
              <label _ngcontent-rnr-c52="" for="subject" class="col-3 col-sm-2 col-lg-1 col-form-label">Mensaje:</label>
              <textarea _ngcontent-rnr-c52="" id="subject" name="subject" placeholder="Escriba un comentario.." class="form-control col-6" style="height: 170px;"></textarea>
            </div>
            <button _ngcontent-rnr-c52="" type="submit" class="btn btn-primary">Enviar</button>
          </form>
        </div>
      </div>
</div> -->

<div class="container">
  <h1 class="tittle">Consultanos</h1>
  <div class="row">
    <div class="col-6 col-sm-4">
      <label class="col-3 col-sm-2 col-lg-1 col-form-label" >Nombre: <input type="text" placeholder="Nombre" name="nombre"></label>
    </div>
    <div class="col-6 col-sm-4">
      <label class="col-3 col-sm-2 col-lg-1 col-form-label">Apellido: 
        <input type="text" placeholder="Apellido" name="surname"> </label>
    </div>
    <div class="col-6 col-sm-4">
      <label class="col-3 col-sm-2 col-lg-1 col-form-label">Email: <input type="text" placeholder="Email" name="mail"></label>
    </div>
    <div class="col-6 col-sm-4"><label class="col-3 col-sm-2 col-lg-1 col-form-label">Mensaje: <input type="text" placeholder="Mensaje" name="mensagge"></label>
    </div>
  </div>
</div>