
<div class="content">
  <img src="https://cdn.jsdelivr.net/gh/JaviFerri7/proyec3-javierferri-prog3@master/img-prac3/Outdoor%20gear.png" class="imgFondo" style="width: 100%;height: 600px; position: relative;">
  
  <div class="content-text">
    <p>
      Dicha empresa fue seleccionada para crear la aplicacion de multas VM, la misma puede probeer de la creacion de pagina WEB y aplicaciones de Escritorio.
    </p>
    <p>
      <b><u>atte</u>:</b> Desarrolladorr en Jefe Javier Ferri.
    </p>
  </div>
</div>
