<div _ngcontent-mto-c47="" class="contenedor" id="cont">
  <img _ngcontent-mto-c47="" src="https://cdn.jsdelivr.net/gh/JaviFerri7/proyec3-javierferri-prog3@master/img-prac3/Outdoor%20gear.png" class="imgFondo" style="width: 100%;height: 500px; position: relative;">
  <!-- <h1 _ngcontent-mto-c47="" style="text-align: center; font-size: 400%; padding-left: .71429em; margin-top: 1.5rem;text-decoration:underline"><b _ngcontent-mto-c47="">Empresa desarrolladora</b></h1> -->
  
  <div _ngcontent-mto-c47="">
    <p _ngcontent-mto-c47="" style="text-align: center; font-size: 200%; padding-left: .71429em">Dicha empresa fue seleccionada para crear la aplicacion de multas VM, la misma puede probeer de la creacion de pagina WEB y aplicaciones de Escritorio.</p>
  </div>

  
</div>