<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <img src="https://cdn.jsdelivr.net/gh/JaviFerri7/proyec3-javierferri-prog3@master/img-prac3/logo-mvm-header.png">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" [routerLink]="['app-app-multas']">Aplicacion de Multas</a>
            </li>
             <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" [routerLink]="['app-user-screen']" tabindex="1" aria-disabled="true">Pantalla de usuario</a>
            </li>
            <li class="nav-item dropdown show">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Departamentos</a>
              <div class="dropdown-menu" aria-labelledby="dropdown10">
                <a class="dropdown-item" href="#">Ente Turismo y Deporte</a>
                <a class="dropdown-item" href="#">MuniCerca</a>
                <a class="dropdown-item" href="#">Registro Civil</a>
              </div>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" [routerLink]="['app-srt']" tabindex="1" aria-disabled="true">Contacto SrT</a>
            </li>
          </ul>
        </div>
    </nav>
  
  <div class="container main-container">
    <router-outlet></router-outlet>
  </div>

  <!-- Footer -->  
  <footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© Semper Reinvent Technology : 2020
        
    </div>
    <!-- Copyright -->
  </footer>

</body>