/********* WELCOME PAGE *********/
#welcome-section {
  margin-top:-70px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 100%;
  /* background: green; */  /* fallback for old browsers */
  background: linear-gradient(to right, white, grey);
}

#welcome-section p {
  font-size: 20px;
  text-align: center;
  color:black;
}
#welcome-section h1{
  color:black;
  font-size: 50px;
}

#imag{
  text-align: right;
}